.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        max-height: 2.4rem;

        @media screen and (min-width: 768px) {
            max-height: 3.9rem;
        }
    }

    &__title {
        margin-top: 3.2rem;

        font-weight: 300;
        font-size: 2.2rem;
        line-height: 3.2rem;

        text-align: center;

        color: var(--gray);

        strong {
            font-weight: 700;
            color : var(--very-dark-blue);
        }

        @media screen and (min-width: 768px) {
            margin-top: 4rem;

            font-size: 4.8rem;
            line-height: 6.0rem;
        }
    }

    &__subtitle {
        margin-top: 1.5rem;

        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;

        color : var(--very-dark-blue);

        @media screen and (min-width: 768px) {
            margin-top: 1.6rem;
            
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }

    &__actions {
        margin-top: 3.2rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: 768px) {
            margin-top: 4rem;

            flex-direction: row;

            gap: 1.6rem;
            align-items: center;
        }
    }

    &__input {
        width: 28.1rem;
        border: 1px solid var(--pale-blue);
        box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
        border-radius: 2.8rem;
        height: 4rem;
        padding: 1rem 3.2rem;

        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2.0rem;
        

        color: var(--very-dark-blue);

        &--error {
            border-color: var(--light-red);
        }

        &::placeholder {
            color: var(--pale-blue);
        }

        @media screen and (min-width: 768px) {
            width: 42.1rem;
            height: 5.6rem;

            padding: 1.8rem 3rem;

            font-size: 1.6rem;
            line-height: 2rem;
        }

        &-container {
            position: relative;
        }

        &-error {
            margin-bottom: 2rem;

            font-style: italic;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 2rem;
            letter-spacing: 0.15px;
            margin-top: 6px;
            margin-left: 2.4rem;

            display: none;

            color: var(--light-red);

            @media screen and (min-width: 768px) {
                position: absolute;
                top: 100%;
                left: 0;
                transform: translateX(0);
            }

            &--visible {
                display: block;
            }
        }
    }


    &__button {
        width: 28.1rem;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-color: var(--blue);
        box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
        border-radius: 2.8rem;
        border: none;
        height: 4rem;

        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.6rem;

        color: white;

        &:hover {
            opacity: 0.75;
        }

        @media screen and (min-width: 768px) {
            width: 20rem;
            height: 5.6rem;

            font-size: 1.6rem;
            line-height: 1.9rem;
        }

    }

    &__dashboard {
        margin-top: 7.2rem;

        max-height: 19.2rem;

        @media screen and (min-width: 768px) {
            max-height: 38.3rem;

            margin-top: 9.4rem;
        }
    }
}